*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.link {
    color: white;
}

.link:hover {
    text-shadow: 0px 0px 20px #00F1FF, 0px 0px 4px rgba(255, 255, 255, 0.5), 0px 0px 15px #00F1FF;
}

/* navbar */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#nav-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 18px 75px;
    gap: 18px 0px;
}

#nav-links li {
    list-style: none;
    padding: 0px 24px;
    width: max-content;
}

#nav-links li:hover {
    text-shadow: 0px 0px 20px #772A5F, 0px 0px 8px #FF5ABD, 0px 0px 4px rgba(255, 255, 255, 0.5), 0px 0px 10px #772A5F;
}

#nav-links a { 
    color: white;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Space Mono', monospace;
}
/* end navbar */

/* footer */
footer {
    display: flex;
    align-items: center;
    background-color: black;
    flex-direction: column;
    justify-content: center;
    padding: 80px 150px;
    gap: 40px;
    color: white;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 18px;
}

#footer-top {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding: 0px;
    gap: 80px;
}

#footer-top img {
    width: 25%;
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#mission {
    width: 50%;
}

footer hr {
    width: 100%;
}

#footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#social-logos {
    display: flex;
    align-items: center;
    gap: 32px;
}

#social-logos img:hover {
    filter: drop-shadow(0px 0px 15px #772A5F) drop-shadow(0px 0px 4px #FF5ABD);
}
/* end footer */