*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(170deg, black, rgba(46, 14, 46), rgb(46, 5, 63) 50%, #170338 75%, rgb(21, 10, 32));
}

h1 {
    font-family: 'Roboto Flex', sans-serif;
    color: white;
    font-size: 56px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    text-shadow: 0px 0px 20px #772A5F, 0px 0px 8px #FF5ABD, 0px 0px 4px rgba(255, 255, 255, 0.5), 0px 0px 15px #772A5F;
}

p {
    font-family: 'Roboto Flex', sans-serif;
    color: white;
    font-size: 18px;
}


/* containers and sections */
.bottom {
    margin-bottom: 75px;
}

.reverse {
    flex-direction: row-reverse;
}

#cityscape-heading, #image-heading, .long-section, .two-col-section, .container, .faq {
    display: flex;
    justify-content: center;
    align-items: center;
}

#cityscape-heading{
    width: 100%;
    height: 32vw;
    background-image: url('images/cityscape.svg');
    background-size: contain;
}

#image-heading {
    width: 100%;
    height: 32vw;
    background-image: url('images/image-heading.png');
    background-size: cover;
}

.neon-border {
    border: 8px solid #FFFFFF;
    border-radius: 50px;
    box-shadow: 0px 0px 35px #772A5F, 0px 0px 10px #FF5ABD;
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 24px;
    width: 100%;
}

.long-section {
    flex-direction: row;
    padding: 75px 150px;
}

.two-col-section {
    padding: 75px 150px;
    gap: 85px;
    width: 100%;
}

.two-col-section > div:nth-child(1) {
    border: none;
    box-shadow: none;
    padding: 0;
}

.two-col-section img {
    border-radius: 20px;
}

.container {
    flex-direction: column;
    gap: 32px;
    padding: 50px 150px;
    overflow: hidden;
}

.container-rows {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 32px;
}

.container-rows img {
    max-width: 250px;
    height: 100%;
}
/* end containers and sections */


/* headers */
.header {
    width: 100%;
    min-width: 25em;
}

.heading {
    width: 100%;
}

h2 {
    font-family: 'Space Mono', monospace;
    text-transform: uppercase;
    font-size: 32px;
    color: white;
    font-weight: 400;
}
/* end headers */


/* in-line links */
.link {
    color: white;
}

.link:hover {
    text-shadow: 0px 0px 20px #00F1FF, 0px 0px 4px rgba(255, 255, 255, 0.5), 0px 0px 15px #00F1FF;
}
/* end in-line links */


/* buttons */
.big-button, .small-button {
    position: relative;
}

.small-button{
    width: max-content;
}

.big-button button, .small-button button{
    position: relative;
    background: none;
    text-transform: uppercase;
    border: none;
    outline: none;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 400;
    cursor: pointer;
    z-index: 4;
    text-decoration: none;
    color: #00F1FF;
    text-align: center;
}

.big-button button {
    padding: 25px 50px;
    font-size: 40px;
    width: 100%;
    height: 100%;
}

.small-button button {
    padding: 16px 32px;
    font-size: 18px;
    width: max-content;
    min-width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.big-button:hover button, .small-button:hover button{
    color: white;
    text-shadow: 0px 0px 20px #00F1FF, 0px 0px 4px rgba(255, 255, 255, 0.5), 0px 0px 15px #00F1FF;
}

.big-button a, .small-button a{
    text-decoration: none;
}

.border {
    position: absolute;
    background: none;
    transition: all .25s ease-in-out;
    width: 25px;
    height: 25px;
}

.small-button .border {
    width: 15px;
    height: 15px;
}

.border:nth-of-type(1) {
    top: 0;
    left: 0;
    border-left: 4.5px solid #00F1FF;
    border-top: 4.5px solid #00F1FF;
}

.border:nth-of-type(2) {
    top: 0;
    right: 0;
    border-right: 4.5px solid #00F1FF;
    border-top: 4.5px solid #00F1FF;
}

.border:nth-of-type(3) {
    bottom: 0;
    right: 0;
    border-right: 4.5px solid #00F1FF;
    border-bottom: 4.5px solid #00F1FF;
}

.border:nth-of-type(4) {
    bottom: 0;
    left: 0;
    border-left: 4.5px solid #00F1FF;
    border-bottom: 4.5px solid #00F1FF;
}

.big-button:hover .border, .small-button:hover .border {
    width: 53%;
    height: 65%;
    cursor: pointer;
    border-color: white;
}

.small-button:hover .border {
    width: 63%;
    height: 80%;
}


.small-button:hover svg {
    fill: white;
}

.big-button:hover .border:nth-of-type(1), .small-button:hover .border:nth-of-type(1) {
    box-shadow: -7.5px -7.5px 15px -7.5px #00F1FF, -2px -2px 4px -2px rgba(255, 255, 255, 0.5), -7.5px -7.5px 15px -7.5px #00F1FF;
}

.big-button:hover .border:nth-of-type(2), .small-button:hover .border:nth-of-type(2) {
    box-shadow: 7.5px -7.5px 15px -7.5px #00F1FF, 2px -2px 4px -2px rgba(255, 255, 255, 0.5), 7.5px -7.5px 15px -7.5px #00F1FF;
}

.big-button:hover .border:nth-of-type(3), .small-button:hover .border:nth-of-type(3) {
    box-shadow: 7.5px 7.5px 15px -7.5px #00F1FF, 2px 2px 4px -2px rgba(255, 255, 255, 0.5), 7.5px 7.5px 15px -7.5px #00F1FF;
}

.big-button:hover .border:nth-of-type(4), .small-button:hover .border:nth-of-type(4) {
    box-shadow: -7.5px 7.5px 15px -7.5px #00F1FF, -2px 2px 4px -2px rgba(255, 255, 255, 0.5), -7.5px 7.5px 15px -7.5px #00F1FF;
}

.two-col-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 56px;
}
/* end buttons */


/* navbar */
#hamburger {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

#hamburger .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}


nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#nav-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 18px 75px;
    gap: 18px 0px;
}

#nav-links li {
    list-style: none;
    padding: 0px 24px;
    width: max-content;
}

#nav-links li:hover {
    text-shadow: 0px 0px 20px #772A5F, 0px 0px 8px #FF5ABD, 0px 0px 4px rgba(255, 255, 255, 0.5), 0px 0px 10px #772A5F;
}

#nav-links a { 
    color: white;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Space Mono', monospace;
}
/* end navbar */


/* profile pics */
.profile-pic {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-pic img {
    max-width: 150px;
    border-radius: 50%;
    border: 5px solid #FFFFFF;
    box-shadow: 0px 0px 35px #772A5F, 0px 0px 10px #FF5ABD;
}
/* end profile pics */


/* hackatl 2022 logo */
#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0 50px 0;
}

#logo img {
    width: 100%;
    padding: 0 8%;
}
/* end hackatl 2022 logo */


/* ---------- HOME ---------- */
/* hero */
#hero {
    background-image: url('images/hero.png');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
    padding: 25vh 20vw;
    gap: 32px;
}

#hero h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Space Mono', monospace;
}

.hero-input {
    display: flex;
    flex-direction: column;
    width: 75%;
    gap: 32px;
    align-items: center;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease 3.5s forwards;
}

.hero-input input {
    box-shadow: 0px 0px 35px #772A5F, 0px 0px 10px #FF5ABD;
    text-align: center;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* end hero */

/* date + countdown container */
#date {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 75px 150px;
}

#date > div {
    align-items: center;
    justify-content: center;
    padding: 75px 100px;
    gap: 50px;
    width: 100%;
}

#countdown {
    color: white;
    font-family: 'Space Mono', monospace;
    text-align: center;
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 32px;
    gap: 8px;
    border: 5px solid #FFFFFF;
    filter: drop-shadow(0px 0px 15px #772A5F) drop-shadow(0px 0px 4px #FF5ABD);
    border-radius: 25px;
}

.day, .hour, .min, .sec, #countdown > h3 {
    font-size: 48px;
}
/* end date + countdown container */


/* ready hacker x */
#ready-hacker-x {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 75px 150px;
    gap: 100px;
}

#ready-hacker-x > div {
    align-items: flex-start;
    width: 100%;
}

#ready-hacker-x > img {
    filter: drop-shadow(0px 0px 5px #772A5F) drop-shadow(0px 0px 4px #FF5ABD);
}
/* end ready hacker x */

/* image slider */
#image-slider {
    overflow: hidden;
    padding: 75px 0px;
}

#image-slider figure {
    position: relative;
    width: 600%;
    margin: 0;
    left: 0;
    animation: 15s slider infinite;
}

#image-slider figure img {
    width: 16.67%;
    float: left;
}

@keyframes slider {
    0% {
        left: 0;
    }20%{
        left: 0;
    }25%{
        left: -100%;
    }45%{
        left: -100%;
    }50%{
        left: -200%;
    }70%{
        left: -200%;
    }75%{
        left: -300%;
    }95%{
        left: -300%;
    }100%{
        left: -400%;
    }
}
/* end image slider */


/* why hackatl */
video {
    width: 80vw;
    border-radius: 20px;
    box-shadow: 0px 0px 35px #772A5F, 0px 0px 10px #FF5ABD;
    border: 8px solid white;
}
/* end why hackatl */


/* hackatl by the numbers */
.stats-row, .stat-container, .graphs-row, .graph, .stats-row-register, .graphs-row-register {
    display: flex;
    align-items: center;
}

.stats-row, .stats-row-register {
    flex-direction: row;
    justify-content: center;
    filter: drop-shadow(0px 0px 8px #772A5F) drop-shadow(0px 0px 4px #FF5ABD);
    color: white;
    font-family: 'Space Mono', monospace;
    text-transform: uppercase;
}

.stats-row {
    padding: 32px;
    gap: 32px;
}

.stat-container {
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    gap: 8px;
    border: 5px solid #FFFFFF;
    border-radius: 40px;
    text-align: center;
    min-width: 150px;
}

.stat-container h3 {
    font-weight: 700;
    font-size: 48px;
}

.stat-container p {
    font-weight: 400;
    font-size: 18px;
}

.graphs-row {
    flex-direction: row;
    gap: 8px;
    margin-bottom: 35px;
}

.graph {
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}
/* end hackatl by the numbers */


/* past winners */
.past-winner-rows {
    display: flex;
    flex-direction: row;
    gap: 48px;
}

.past-winner-row {
    display: flex;
    flex-direction: row;
    gap: 48px;
    width: 100%;
    height: 100%;
}

.past-winner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 221px;
    border: 5px solid #FFFFFF;
    box-shadow: 0px 0px 20px #772A5F, 0px 0px 8px #FF5ABD, 0px 0px 4px rgba(255, 255, 255, 0.5), 0px 0px 15px #772A5F;
    border-radius: 40px;
}

.past-winner-quote {
    width: 100%;
    height: fit-content;
    padding: 5%;
    font-family: 'Roboto Flex';
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
}

.past-winner-name {
    width: 100%;
    height: fit-content;
    padding: 5%;
    font-family: 'Roboto Flex';
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
}
/* end past winners */
/* ---------- END HOME ---------- */


/* ---------- REGISTER ---------- */
.stats-row-register {
    gap: 32px;
}

.graphs-row-register {
    flex-direction: row;
    gap: 100px;
    margin-top: 32px;
}
/* ---------- END REGISTER ---------- */


/* ---------- SPONSORS ---------- */
form, .form-row, .input, input, select, textarea {
    display: flex;
    justify-content: center;
    width: 100%;
}

form {
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.form-row {
    flex-direction: row;
    align-items: center;
    gap: 48px;
}

.input {
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    gap: 16px;
    font-family: 'Roboto Flex', sans-serif;
}

label {
    color: white;
    font-size: 18px;
}

input, select, textarea {
    background-color: white;
    padding: 18px 31px;
    font-size: 18px;
    color: black;
    border: 1px solid #C4C4C4;
    border-radius: 36px;
}

::placeholder, select:invalid {
    color: #C4C4C4;
}

textarea {
    height: 175px;
    resize: none;
    font-family: 'Roboto Flex', sans-serif;
}
/* ---------- END SPONSORS ---------- */


/* ---------- HISTORY ---------- */
.two-col-section > div:nth-child(2) {
    width: 50%;
}
/* ---------- END HISTORY ---------- */


/* ---------- FAQ ---------- */

.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.wrapper * {
  transition: all 0.5s ease-in-out;
}
.wrapper .itemTitle {
  flex-basis: 32px;
  flex-grow: 0;
  -webkit-flex-grow: 0;
  transition: flex-grow 0.2s ease-out;
}
.wrapper .item {
  flex-basis: 32px;
  flex-grow: 0;
  -webkit-flex-grow: 0;
  transition: flex-grow 0.2s ease-out;
}
.wrapper .item.open {
  flex-grow: 1;
  -webkit-flex-grow: 1;
}
.wrapper {
  width: 1440px;
}
.wrapper .itemTitle {
  position: relative;
}
.wrapper .item {
  position: relative;
}
.wrapper .item h3 {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21p;
  text-transform: uppercase;
  text-align: left;
  color: rgba(255,255,255,0.3);
  box-sizing: border-box;
  border-bottom: 2px solid #000;
  outline: none;
  height: 32px;
  padding: 8px 24px;
  margin: 0;
  background: none;
  cursor: pointer;
  z-index: 4;
  text-decoration: none;
  justify-content: space-evenly;
}
.wrapper .item h3 img[src = 'images/plus.png'] {
  opacity: 0.3;
}
.wrapper .item.open h3 {
  color: #FFFFFF;
  border-bottom-color: 2px solid #FFFFFF;
  border-bottom-width: 100%;
  transition: 2s ease;
}
.wrapper .item.open h3 img[src = 'images/plus.png'] {
  opacity: 0;
}
.wrapper .item:hover h3 {
  color: #FFFFFF;
}
.wrapper .item:hover h3:not(.open h3) img[src = 'images/plus.png'] {
  opacity: 1;
  filter: drop-shadow(0px 0px 20px #772a5f) drop-shadow(0px 0px 8px #ff5abd) drop-shadow(0px 0px 4px rgba(255,255,255,0.5)) drop-shadow(0px 0px 15px #772a5f);
}
.wrapper .item:hover {
  cursor: pointer;
  text-shadow: 0px 0px 20px #00f1ff, 0px 0px 4px rgba(255,255,255,0.5), 0px 0px 15px #00f1ff;
}
.wrapper .item:hover img[src = 'images/minus.png'] {
  filter: drop-shadow(0px 0px 20px #772a5f) drop-shadow(0px 0px 8px #ff5abd) drop-shadow(0px 0px 4px rgba(255,255,255,0.5)) drop-shadow(0px 0px 15px #772a5f);
}
.wrapper .item p {
  position: absolute;
  top: 32px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0px 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  overflow: hidden;
}

/* ---------- END FAQ ---------- */


/* ---------- TEAM ---------- */
.eevm-logos, .email, #ambassador {
    display: flex;
    justify-content: center;
    align-items: center;
}

.eevm-logos {
    flex-direction: column;
    gap: 32px;
}

.eevm-logos img {
    max-width: 15vw;
}

.email {
    flex-direction: row;
    gap: 8px;
}
/* ---------- END TEAM ---------- */
















/* footer */
footer {
    display: flex;
    align-items: center;
    background-color: black;
    flex-direction: column;
    justify-content: center;
    padding: 80px 150px;
    gap: 40px;
}

#footer-top {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding: 0px;
    gap: 80px;
}

#footer-top img {
    width: 25%;
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#mission {
    width: 50%;
}

footer hr {
    width: 100%;
}

#footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#social-logos {
    display: flex;
    align-items: center;
    gap: 32px;
}

#social-logos img:hover {
    filter: drop-shadow(0px 0px 15px #772A5F) drop-shadow(0px 0px 4px #FF5ABD);
}
/* end footer */


/* large devices */
@media screen and (max-width: 1200px){
    /* headers */
    .header {
        width: 65vw;
        min-width: 30em;
    }
    /* end headers */


    /* containers and sections */
    .container {
        gap: 24px;
    }

    .container-rows {
        gap: 32px;
    }
    
    .container-rows img {
        max-width: 150px;
    }

    .two-col-section {
        padding: 50px 150px;
        flex-direction: column;
        gap: 50px;
    }

    .two-col-section > div:nth-child(1) {
        width: 75vw;
    }

    .two-col-section > div:nth-child(2) {
        width: 75vw;
    }
    /* containers and sections */


    /* ---------- HOME ---------- */
    /* ready hacker x */
    #ready-hacker-x {
        flex-direction: column;
        justify-content: center;
        gap: 75px;
    }

    #tenth-anniv {
        width: 75%; 
    }
    /* end ready hacker x */

    /* hackatl by the numbers */
    .stats-row {
        padding: 32px 0px;
    }

    .stat-container {
        padding: 25px;
    }
    
    .stat-container h3 {
        font-weight: 700;
        font-size: 32px;
    }

    .graphs-row {
        transform: scale(0.75, 0.75);
        margin-bottom: 0px;
    }
    /* end hackatl by the numbers */

    /* past winners */
    .past-winner-quote {
        font-size: 13px;
    }

    .past-winner-name {
        font-size: 13px;
    }
    /* end past winners */
    /* ---------- END HOME ---------- */


    /* ---------- TEAM ---------- */
    .reverse-col {
        flex-direction: column-reverse;
    }

    .eevm-logos {
        flex-direction: row;
        gap: 32px;
    }
    /* ---------- END TEAM ---------- */
}


/* laptops */
@media screen and (max-width: 992px){
    /* containers and sections */
    .long-section {
        padding: 75px 100px;
    }
    /* end containers and sections */


    /* ---------- END HOME ---------- */
    /* date + countdown container */
    #date {
        padding: 75px 100px;
    }
    /* end date + countdown container */

    /* ready hacker x */
    #ready-hacker-x {
        padding: 75px 100px;
    }
    /* end ready hacker x */

    /* image slider */
    #image-slider {
        padding: 50px 0px;
    }
    /* end image slider */

    /* hackatl by the numbers */
    .stats-row {
        padding: 0px 0px;
    }

    .graphs-row {
        height: 300px;
    }
    /* end hackatl by the numbers */

    /* past winners */
    .past-winner-rows {
        flex-direction: column;
    }

    .past-winner {
        height: 150px;
    }
    /* end past winners */
    /* ---------- END HOME ---------- */

        
    /* ---------- REGISTER ----------*/
    .graphs-row-register {
        gap: 0px;
        margin-top: 32px;
    }
    /* ---------- END REGISTER ----------*/


    /* footer */
    #footer-top {
        flex-direction: column;
        gap: 40px;
    }

    #footer-top img {
        width: 50%;
    }

    .footer-container {
        gap: 12px;
        text-align: center;
    }

    #mission {
        width: 100%;
    }
    /* end footer */
}


/* tablets */
@media screen and (max-width: 768px){
    /* headers */
    h1{
        font-size: 40px;
    }

    .header {
        width: 80vw;
        min-width: 70vw;
    }

    #cityscape-heading { 
        align-items: flex-end;
        padding-bottom: 5%;
        padding-left: 10%;
        padding-right: 10%;
    }

    .neon-border .header {
        width: 70vw;
        align-self: center;
    }
    /* end headers */


    /* containers and sections */
    .container {
        padding: 50px;
    }

    .container-rows {
        gap: 24px;
    }
    
    .container-rows img {
        max-width: 125px;
    }

    .long-section {
        padding: 50px;
    }
    /* end containers and sections */


    /* buttons */
    .two-col-buttons {
        flex-direction: column;
        padding: 0px;
        gap: 32px;
    }
    /* end buttons */


    /* navbar */
    #hamburger {
        display: flex;
    }

    #nav-links {
        flex-direction: column;
        display: none;
        margin-top: 60px;
        margin-bottom: 40px;
    }

    #nav-links.clicked {
        display: flex;
    }
    /* end navbar */


    /* ---------- HOME ---------- */
    /* hero */
    #hero h1 {
        font-size: 40px;
    }
    
    .hero-input {
        width: 100%;
    }
    /* end hero */

    /* date + countdown container */
    #date {
        padding: 50px 50px;
    }

    #countdown {
        transform: scale(0.95, 0.95);
    }
    
    .day, .hour, .min, .sec, #countdown > h3 {
        font-size: 35px;
    }
    /* end date + countdown container */

    /* ready hacker x */
    #ready-hacker-x {
        padding: 50px 50px;
        gap: 50px;
    }
    /* end ready hacker x */

    /* image slider */
    #image-slider {
        padding: 25px 0px;
    }
    /* end image slider */

    /* hackatl by the numbers */
    .stats-row {
        transform: scale(0.75, 0.75);
    }

    .graphs-row {
        transform: scale(0.5, 0.5);
        height: 200px;
    }
    /* end hackatl by the numbers */

    /* past winners */
    .past-winner-quote {
        font-size: 12px;
    }

    .past-winner-name {
        font-size: 12px;
    }
    /* end past winners */
    /* ---------- END HOME ---------- */

            
    /* ---------- REGISTER ----------*/
    .graphs-row-register {
        margin-top: 50px;
        transform: scale(0.75, 0.75);
        height: 200px;
    }

    .stats-row-register {
        transform: scale(0.85, 0.85);
    }
    /* ---------- END REGISTER ----------*/


    /* ---------- SPONSORS ---------- */

    form {
        gap: 24px;
    }

    .form-row {
        flex-direction: column;
        gap: 24px;
    }

    .input {
        gap: 12px;
    }

    input, select, textarea {
        padding: 12px 15px;
    }
    /* ---------- END SPONSORS ---------- */


    /* footer */
    footer {
        padding: 80px 75px;
    }
    /* end footer */
}


/* small devices */
@media screen and (max-width: 576px){
    /* headers */
    h1{
        font-size: 32px;
    }
    /* end headers */

    /* containers and sections */
    .long-section {
        padding: 35px;
    }
    /* end containers and sections */

    /* buttons */
    .big-button {
        transform: scale(0.9, 0.9);
    }

    .small-button {
        transform: scale(0.85, 0.85);
    }
    /* end buttons */


    /* ---------- HOME ---------- */
    /* date + countdown container */
    #date {
        padding: 35px;
    }

    #countdown {
        transform: scale(0.9, 0.9);
    }
    /* end date + countdown container */

    /* ready hacker x */
    #ready-hacker-x {
        padding: 35px;
    }
    /* end ready hacker x */

    /* image slider */
    #image-slider {
        padding: 8px 0px;
    }
    /* end image slider */

    /* hackatl by the numbers */
    .stats-row {
        transform: scale(0.6, 0.6);
    }

    .graphs-row {
        transform: scale(0.4, 0.4);
        height: 150px;
    }
    /* end hackatl by the numbers */

    /* past winners */
    .past-winner-quote {
        font-size: 11px;
    }

    .past-winner-name {
        font-size: 11px;
    }
    /* end past winners */
    /* ---------- END HOME ---------- */


    /* ---------- REGISTER ----------*/
    .graphs-row-register {
        margin-top: 40px;
        transform: scale(0.6, 0.6);
        height: 200px;
    }

    .stats-row-register {
        transform: scale(0.7, 0.7);
        height: 110px;
    }
    /* ---------- END REGISTER ----------*/


    /* ---------- TEAM ---------- */
    .eevm-logos {
        flex-direction: column;
        gap: 32px;
    }

    .eevm-logos img {
        max-width: 30vw;
    }
    /* ---------- END TEAM ---------- */


    /* footer */
    footer {
        padding: 50px 50px;
    }
    
    #social-logos {
        gap: 16px;
    }
    /* end footer */
}

/* mobile phones */
@media screen and (max-width: 390px){
    /* headers */
    .header {
        width: 70vw;
        min-width: 65vw;
    }

    h2 {
        font-size: 24px;
    }
    /* end headers */

    /* containers and sections */
    .container {
        padding: 35px;
    }

    .container .header {
        transform: scale(1.5, 1.5);
    }

    .container-rows img {
        max-width: 80px;
    }

    .neon-border {
        padding: 25px;
        gap: 24px;
    }
    /* end containers and sections */


    /* buttons */
    .big-button {
        transform: scale(0.65, 0.65);
    }

    .small-button {
        transform: scale(0.7, 0.7);
    }
    /* end buttons */


    /* ---------- HOME ---------- */
    /* hero */
    #hero {
        padding: 10vh 10vw;
    }
    /* end hero */

    /* date + countdown container */
    #date > div {
        padding: 25px;
        gap: 8px;
    }

    #countdown {
        transform: scale(0.65, 0.65);
    }
    /* end date + countdown container */

    /* hackatl by the numbers */
    .stats-row {
        flex-wrap: wrap;
        width: 100vw;
        height: 400px;
        transform: scale(0.8, 0.8);
    }

    .graphs-row {
        display: none;
    }
    /* end hackatl by the numbers */
    /* ---------- END HOME ---------- */


    /* ---------- REGISTER ----------*/
    .graphs-row-register {
        margin-top: 40px;
        transform: scale(0.4, 0.4);
        height: 100px;
    }

    .stats-row-register {
        transform: scale(0.5, 0.5);
        height: 75px;
    }
    /* ---------- END REGISTER ----------*/


    /* ---------- SPONSORS ---------- */
    input, select, textarea {
        padding: 12px 15px;
    }
    /* ---------- END SPONSORS ---------- */


    /* footer */
    footer {
        padding: 35px 35px;
    }

    #footer-top img {
        width: 75%;
    }

    #footer-bottom {
        flex-direction: column-reverse;
        gap: 24px;
    }
    
    #social-logos {
        gap: 16px;
    }
    /* end footer */
}
